<manifest package="com.example.macyaren.sportman"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".main.ExampleApp"
        android:allowBackup="true"
        android:icon="@drawable/app_icom"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:launchMode="singleTask"
            android:name=".activities.view.ActivityCitySelection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="com.macya.intent.action.CITY_SELECTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.view.ActivitiesDetail"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.macya.intent.action.ACTIVITIES_DETAIL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.model.dataHelper.ActivitiesDetailRegistrationInstruction"
            android:screenOrientation="portrait">

            <intent-filter>
                <action
                    android:name="com.macya.intent.action.ACTIVITIES_DETAIL_REGISTRATION_INSTRUCTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.model.dataHelper.ActivitiesDetailRegistrationInfomation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action
                    android:name="com.macya.intent.action.ACTIVITIES_DETAIL_REGISTRATION_INFORMATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.model.dataHelper.ActivitiesDetailRegistrationComplete"
            android:screenOrientation="portrait">

            <intent-filter>
                <action
                    android:name="com.macya.intent.action.ACTIVITIES_DETAIL_REGISTRATION_COMPLETE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".message.MessageLeftListFollowNews"
            android:noHistory="true"
            android:screenOrientation="portrait">

            <intent-filter>

                <action android:name="com.macya.intent.action.Message_Left_List_Follow_News"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".message.MessageLeftListChat_Single_Group"
            android:screenOrientation="portrait">

            <intent-filter>

                <action android:name="com.macya.intent.action.MessageLeftListChat_Single_Group"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>


    </application>

</manifest>
